{% extends "event/event_sub.html" %}
<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
Venues
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Submenus go here -->
{% block action_items %}

{% endblock %}

<!-- Additional Menu Items on the bottom nav bar -->
{% block additional_menuitems %}
{% endblock %}

<!-- Main Content -->
{% block content %}
Events

{% endblock %}

<!-- Scripts needed for this page -->
{% block scripts %}
{% endblock %}