{% extends "event/event_sub.html" %}
<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
Venues
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Submenus go here -->
{% block action_items %}
<a href="{{url_for('events.eventadd')}}" class="dropdown-item">Add New Event</a>
{% endblock %}

<!-- Additional Menu Items on the bottom nav bar -->
{% block additional_menuitems %}
{% endblock %}

<!-- Main Content -->
{% block content %}
Events

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th>Promotor</th>
            <th>Venue</th>
        </tr>
    </thead>
    <tbody>
        {% for event in allevents %}
        <tr>
            <td>{{event.eventname}}</td>
            <td>{{event.event_start_datetime.strftime('%m/%d/%y')}}</td>
            <td>
                {% for pro in promotors %}
                {% if pro.id == event.event_promotorfk %}
                {{pro.company}}
                {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for venue in venues %}
                    {% if venue.id == event.event_venuefk %}
                        {{venue.name}}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

<!-- Scripts needed for this page -->
{% block scripts %}
{% endblock %}