{% extends "base.html" %}

{% block title %}
Clients
{% endblock %}

{% block submenu %}
<nav class="navbar navbar-expand-md navbar-sub-customclass">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fas fa-location-arrow"></i> Venue</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('venue.venuelist')}}">Venue List</a>
                </li>
                <li class="nav-item align-content-center">
                    {% block additional_menuitems %}
                        
                    {% endblock %}
                </li>
            </ul>
            <div class="dropdown text-end">
                <a href="#" class="d-block dropdown-toggle text-decoration-none"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    Action Items
                </a>
                <ul class="dropdown-menu text-small nav-item" aria-labelledby="dropdownUser1">
                    {% block action_items %}

                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}