{% extends "base.html" %}
<!-- Title of the page (what goes on the tab when rendered) -->
{% block title %}
{% endblock %}

<!-- Specific Style to this page -->
{% block style %}
{% endblock %}

<!-- Any Submenus go here -->
{% block submenu %}
{% endblock %}

<!-- Main Content -->
{% block content %}
<h4 class="display-4 text-center">Profile for {{usr.firstname}} {{usr.lastname}}</h4>
<form method=POST enctype=multipart/form-data action="{{url_for('views.profile')}}" class="row g-3">
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" value="{{usr.email}}">
    </div>
    <div class="col-md-6">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" value="{{usr.username}}">
    </div>
    <div class="col-md-6">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname" id="firstname" value="{{usr.firstname}}">
    </div>
    <div class="col-md-6">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" value="{{usr.lastname}}">
    </div>
    <div class="col-md-12">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St"
            value="{{usr.address}}">
    </div>
    <div class="col-md-6">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" name="city" value="{{usr.city}}">
    </div>
    <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <select name="state" id="state" class="form-select">
            {% for state in states %}
            <option value="{{state.abr}}" {{'selected' if state.abr==usr.state}}>{{state.state}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <label for="zip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="zip" name="zip" value="{{usr.zip}}">
    </div>
    <div class="col-md-6">
        <label for="phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" id="phone" name="phone" value="{{usr.phone}}">
    </div>
    <div class="col-md-6">
        <label for="dob" class="form-label">Birthdate</label>
        {% if usr.dob == None %}
        <input type="text" class="form-control" id="dob" name="dob" value="None">
        {% else %}
        <input type="text" class="form-control" id="dob" name="dob" value="{{usr.dob.strftime('%m/%d/%Y')}}">
        {% endif %}
    </div>
    <div class="col-md-12">
        <label for="dob" class="form-label">Avatar</label>
        <input type="file" class="form-control" id="avatar" name="avatar">
    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Save Information</button>
    </div>
</form>
{% endblock %}

<!-- Scripts needed for this page -->
{% block scripts %}
{% endblock %}