{% extends "base/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{ url_for('base.reset_request') }}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">
                    <label for="email" class="form-control-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control">
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Send Reset Email">
            </div>
        </form>
    </div>
{% endblock content %}
